body {
    padding: 10px
}

.select-but {
    margin : 10px 10px 0px 0px;
    height: 30px;
    cursor: pointer;
    min-width: 160px;
}

.baky-tag {
    color: green;
}

.other-tag {
    color : red;
}

.butt_container {
    display: flex;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.instructions {
    font-size: 14px;
    padding-top : 10px;
}